.inputGroup{
  width: 100% !important;

  .labelSearch {
    margin: 0;
  }

  .inputSearch{
    width: 50% !important;
    padding: 10px 16px !important;
    outline: none !important;
    border: 2px solid #ccd1d1 !important;
    // transition: all 0.5s !important;
    // &:focus{
    //   background: #fff !important;
    //   width: 70% !important;
    // }
  }
}
